<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>PATH_PLACEHOLDER</string>
    </dict>

    <key>Label</key>
    <string>location.changer.plist</string>

    <key>ProgramArguments</key>
    <array>
        <string>sudo</string>
        <string>locationchanger</string>
    </array>

    <key>WatchPaths</key>
    <array>
        <string>/Library/Preferences/SystemConfiguration/com.apple.airport.preferences.plist</string>
    </array>

</dict>
</plist>
